.rwd-table {
    border: 1px solid #000000;
    border-collapse: collapse;
}
  
.rwd-table th, td {
    border: 1px solid #000000;
    padding: 2px 4px;
    text-align: center;
  }

@media screen and (max-width: 599px) {
.td1{
    max-width:39px;
    text-align:center;
}
.td2{
    max-width:800px;
    text-align:left;
}
.td3{
    max-width:39px;
    text-align:center;
}     
.td4{
    max-width:180px;
    text-align:center;
}
.td5{
    width:85px;
    text-align:center;
}
.img{
    max-width:90px;
    max-height:150px;
    margin:auto;
    display:block;
    }
.img1{
    max-width:150px;
    max-height:150px;
    margin:5px 5px;
    }
}

@media (min-width:600px){  
.td1{
    width:70px;
    text-align:center;
}
.td2{
    max-width:800px;
    text-align:left;
}
.td3{
    width:70px;
    text-align:center;
}
.td4{
    max-width:300px;
    text-align:center;
}
.td5{
    width:90px;
    text-align:center;
}
.img{
    height:200px;
    margin:auto;
    display:block;
    }
.img1{
    max-width:350px;
    max-height:200px;
    margin:5px 5px;
    }
}

@media screen and (max-width: 599px) {
  
  
.rwd-table tr {
      border: 1px solid #000000;
  }
  
  
.rwd-table th {
      display: none;
              }
  
  
.rwd-table td {
      display: block;
     
		      border: none;
               }
  
  
.rwd-table td:before {
      
	content: attr(data-th) " ";
      
	float: left;
      
	font-weight: bold;
  }
}